<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ name }}的简历</title>
  <meta name="keywords" content="{{ keywords }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
  <link rel="stylesheet" href="assets/styles.css">
</head>

<body class="{% block body_class %}{% endblock %}">
  <div class="site">
    {% block main %}{% endblock %}
  </div>
  <footer>
    <p>Power by <i class="fa fa-copyright"><a href="{{ github }}" target="_blank">Agressif</a></i></p>
  </footer>
  <script src="assets/scripts.js"></script>
</body>

</html>